.indicator {
    font-family: "Lato Regular";
    font-size: 0.8rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 148px;
    height: 160px;
    aspect-ratio: 0.94;
    transition: left 150ms linear;
    background-image: url('/resources/images/cursor.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: 
        drop-shadow(5px 5px 5px rgba(0, 0, 0, .8));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 0.25rem;
}