.header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    row-gap: 1rem;
}

.logos{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    column-gap: 2rem;
}

.title{
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-family: "Lato Black", sans-serif;
    text-transform: uppercase;
}

.subtitle{
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-family: "Lato Black", sans-serif;
    opacity: 0.8;
    color: #41baf1
}