.image{
    position: relative;
    flex: 1;
    height: 8rem;
    width: 8rem;
    max-width: 8rem;
    max-height: 8rem;
    object-fit: contain;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #7a7a7a;
    padding: 0.5rem;
    box-sizing: border-box;
    overflow: hidden;
}